body {
	margin: 0;
}

.screen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: hsl(30, 38%, 92%);
}

.center {
	height: 500px;
	width: 700px;
	border: 0px solid grey;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    background: white;
    overflow: hidden;
}

.leftside-pic {
	width: 50%;
}

.right-side {
    max-height: 100%;
    max-width: 270px;
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 10px 40px 10px;
}

.perfume {
    display: block;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 40px;
}

.text-content {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    line-height: 25px;
    font-size: 14px; 
}

.cost-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
}

.current-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
}

.old-price {
    color: grey;
    text-decoration: line-through;
}

button {
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    border: 1px solid grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 250px;  
}

.button-content {
    padding-right: 60px;
    color: white;
}

.button-icon {
    padding-left: 60px;
}
